@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root{
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: url(./assets/images/background-pattern-mobile.svg) var(--light-pink) repeat-x;
}
.container{
    width: calc( 100% - 3rem );
    max-width: 520px;
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 10px;
}

.faq{
    border-bottom : 1px solid var(--light-pink);
}

.faq:last-of-type{
    border-bottom: 0;
}

.h1-div{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1.5rem;
}

.h1-div img{
    width: 1.5rem;
}

.h1-div h1{
    color: var(--dark-purple);
}

.question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    gap: 1rem;
}

.question h4{
    font-weight: 600;
    color: var(--dark-purple);
    cursor: pointer;
}
.question h4:hover{
    color: var(--grayish-purple);
}
.answer{
    display: none;
    font-size: 0.9rem;
    color: var(--grayish-purple);
    line-height: 1.5;
    padding-bottom: 1rem;
}

.answer.active{
    display: block;
}

/* I added next styling after recording the videos */
.promo{
    position: absolute;
    top: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
    text-align: center;
}
.promo img{
    width: 3rem;
}

@media (min-width: 960px){
    body{
        background: url(./assets/images/background-pattern-desktop.svg) var(--light-pink ) repeat-x;
        background-position: 0 -4rem;
    }
    .container{
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(47, 21, 51, 0.2);
    }
    .h1-div{
        padding-bottom: 1rem;
    }
    .h1-div h1{
        font-size: 3rem;
    }
    .h1-div img{
        width: auto;
    }
    /* I added next styling after recording the videos */
    .promo{
        left: 1rem;
        bottom: 2rem;
        top: auto;
    }
}